# Sphinx and Core Dependencies
Sphinx>=7.2,<8.0
sphinx-rtd-theme>=2.0.0,<3.0.0
myst-parser>=2.0.0,<3.0.0
sphinx-copybutton>=0.5.0,<0.6.0

# Pinning versions for reproducibility.
# Last checked compatible versions as of May 2025.
# Users can update these based on compatibility and needs,
# but pinning ensures consistent builds.
